body {
    font-family: "Plus Jakarta Sans", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    flex: 1;
}

/* Navbar */

.navbar {
    height: 5rem;
    background-color: white;
}

.nav-link {
    color: black;
}

.brand {
    margin-right: 5px;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.mdnsmscr {
    display: none;
}

.lgscr {
    display: flex;
    justify-content: end;
    align-items: center;
}

/* Footer */

.f-info-links,
.f-info-socials {
    width: 100%;
}

.f-info-socials a {
    text-decoration: none;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
    color: black;
    opacity: 0.5;
}

.f-info-socials i:hover {
    opacity: 1;
    cursor: pointer;
}

.f-info-links a {
    text-decoration: none;
    color: #222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info {
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Cards - Index Page */

.index-img {
    height: 20rem;
}

.listing-card {
    border: none;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
}

.index-img:hover {
    border: 2px solid #fe424d;
    border-radius: 1rem;
}

.card-body {
    padding: 0;
}

.card-text {
    font-weight: 400;
}

.listing-link {
    text-decoration: none;
}

/* .card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
} */

/* Card - Show Page */

.show-img {
    height: 50vh;
}

/* Map Styling */

#map {
    height: 80vh;
    width: 60vw;
}

/* Filter Styling */

.filters {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filter {
    text-align: center;
    margin-right: 0.3rem;
    margin-top: 2rem;
    border: none;
    background-color: white;
    color: #b6b4b4;
}

.filter:hover {
    color: #fe424d;
    cursor: pointer;
}

.filter i {
    font-size: 1.2rem;
}

.filter p {
    font-size: 0.9rem;
}

.tax-before {
    display: none;
}

.tax-after {
    display: inline;
}

.tax-toggle {
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.2rem;
    padding: 1rem;
    margin-left: auto;
    display: flex;
    align-items: center;
}

/* Navbar Search */

.search-btn {
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-btn:hover {
    background-color: red;
    color: white;
}

.search-btn i {
    margin-right: 0.5rem;
}

.search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
}

/* New Route - Categories */

.categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .navbar {
        background-color: #fe424d;
    }

    .custom-collapse {
        position: absolute;
        top: 4.9rem;
        left: 0;
        border: 1px solid black;
        width: 100%;
        background-color: white;
        color: #222;
        /* padding: 0.5rem 0.8rem; */
    }

    .nav-link-border {
        border: 1px solid black;
        width: 100vh;
    }

    .nav-link-border:hover {
        font-weight: 900;
        border: 1px solid black;
    }

    .search-inp {
        margin: 0.5rem 0.5rem;
        border: 1px solid black;
    }

    .search-btn {
        display: none;
    }

    .lgscr {
        display: none;
    }

    .mdnsmscr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .brand-icon {
        border-radius: 50%;
        border: 2px solid white;
    }

    .explore {
        color: white;
        font-weight: 700;
    }

    .navbar-toggler {
        background-color: #fff;
    }

    .categories {
        display: inline-block;
    }

    #map {
        width: 75vw;
        height: 60vh;
    }

    .tax-toggle {
        font-size: smaller;
        padding: 10px;
        height: 40px;
        margin-left: auto;
    }

    .filter p {
        font-size: small;
    }

    .review-card {
        width: 60vw;
    }
}

@media (max-width: 576px) {
    .index-img {
        height: 30vh;
    }

    .listing-img {
        height: 25vh;
    }

    .tax-toggle {
        font-size: x-small;
        padding: 10px;
        height: 40px;
        margin-left: auto;
    }

    .filter i {
        font-size: medium;
    }

    .filter p {
        font-size: x-small;
    }

    .filter {
        margin-left: -5px;
        margin-top: 10px;
    }

    #map {
        height: 40vh;
        width: 90vw;
    }

    .categories {
        display: inline-block;
    }

    .review-card {
        width: 70vw;
        font-size: smaller;
    }

    .alert {
        font-size: 0.7rem !important;
    }
}