<% layout("/layouts/boilerplate.ejs") -%>
    <center>
        <br>

        <u>
            <h3> Privacy &nbsp; Policy </h3>
        </u>

        <br>

        <h5> Effective Date: 26 May 2025 </h5>

        <p> At Nestin, we respect your privacy. This page explains how we collect and use information. </p>

        <h5> What We Collect </h5>

        <p> Your name or email when you contact us <br>

            Basic usage data (like which pages are visited) <br>

            Any info you submit through our forms </p>

        <h5> What We Do With It </h5>

        <p> Improve the website experience <br>

            Respond to your messages <br>

            We do not sell or share your data. </p>

        <h5> Cookies </h5>

        <p> We may use basic cookies to help with user experience. You can manage cookies through your browser settings.
        </p>

        <h5> External Links </h5>

        <p> We may link to other sites like Instagram or LinkedIn. We are not responsible for their privacy practices.
        </p>

        <h5> Questions? </h5>

        <p> Contact us at <a
                href="https://mail.google.com/mail/?view=cm&to=nestin.project.india@gmail.com&su=Feedback%20for%20Nestin&body=About%20Nestin..."
                target="_blank">
                nestin.project.india@gmail.com
            </a>
        </p>

        <br>
    </center>