<% layout("/layouts/boilerplate.ejs") -%>
    <center>
        <br>

        <u>
            <h3> Terms &nbsp; & &nbsp; Conditions </h3>
        </u>

        <br>

        <h5> Effective Date: 26 May 2025 </h5>

        <p> By using Nestin, you agree to the following terms: </p>

        <h5> 1. Use of Website </h5>

        <p> You may browse listings, explore filters, and contact us. You agree not to misuse or harm the website in any
            way. </p>

        <h5> 2. Content </h5>

        <p> All content is for demonstration or project purposes only. We don’t guarantee listings are real. </p>

        <h5> 3. Intellectual Property </h5>

        <p> All design, logos, and content belong to the project owners unless otherwise stated. </p>

        <h5> 4. External Links </h5>

        <p> We provide social links for convenience. We aren’t responsible for third-party content. </p>

        <h5> 5. Updates </h5>

        <p> These terms may be updated. Continued use means you accept any new changes. </p>

        <br>
    </center>